#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

#define BASE 0
#define LOWER 1
#define RAISE 2
#define SYMBOLS 3
#define CTRL_LAYER 4
#define CTRL_SHFT_LAYER 5

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
// -----------------------------------------------------------------------------------------
// |  TAB    |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP  |
// | SYMBOLS |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '    |
// | SHFT    |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | RSHFT |
//                       | GUI | RSE | SPC |   | ENT | LWR  | ALT |
                        bindings = <
   &kp TAB     &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &mo SYMBOLS &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT   &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                &kp LGUI &mo RAISE &kp SPACE   &kp RET &mo LOWER &kp RALT
                        >;
                };

                lower_layer {
                        label = "LOWER";
// -----------------------------------------------------------------------------------------
// |       |       |       |     |     |     |   |  6  | ENT |  8  | DEL |  DEL | BKSP |
// |  TAB  |   1   |   2   |  3  |  4  |  5  |   | LFT | DWN |  UP | RGT | BKSP |      |
// | SHFT  |       |       |     |     |     |   |  =  | ESC |     |     |  \   |      |
//                    | GUI | ALT | ALT + SPC |   | ENT |     | ALT |
                        bindings = <
   &trans     &trans   &trans  &trans  &trans  &trans         &kp N6      &kp RET    &kp N8   &kp DEL     &kp DEL    &kp BSPC
   &kp TAB    &kp N1   &kp N2  &kp N3  &kp N4  &kp N5         &kp LEFT    &kp DOWN   &kp UP   &kp RIGHT   &kp BSPC   &trans
   &kp LSHFT  &trans   &trans  &trans  &trans  &trans         &kp EQUAL   &kp ESC    &trans   &trans      &kp BSLH   &trans
            &kp LGUI     &kp RALT    &kp LA(SPACE)               &kp RET   &trans   &kp RALT
                        >;
                };

                raise_layer {
                        label = "RAISE";
// -----------------------------------------------------------------------------------------
// | GUI_TAB         |  GUI_Q        |  GUI_W  |  #    |  ALT_ENT |  GUI_T     |   |  ^  |  GUI_U |  *  |   GUI_ALT_O |  GUI_P  | BKSP |
// | CTRL_SHFT_LAYER |  GUI_SHFT_A   |  GUI_S  |       |  GUI_F   |  GUI_SFT_G |   |  -  |  =     |  [  |  GUI_ALT_L  |      \  | "|"  |
// |                 |  GUI_Z        |  GUI_X  | GUI_C |  GUI_V   |  GUI_ALT_B |   |  _  |  ENT   |  {  |     }       |      \  |  `   |
//                            | GUI   |         | SPC     |   | ENT |      | ALT |
                        bindings = <
   &kp  LG(TAB)         &kp LG(Q)      &kp LG(W) &kp HASH  &kp LA(RET) &kp LG(T)       &kp CARET &kp LG(U)  &kp KP_MULTIPLY &kp LG(LA(O))  &kp LG(P) &kp BSPC
   &mo CTRL_SHFT_LAYER  &kp LG(LS(A))  &kp LG(S) &trans    &kp LG(F)   &kp LG(LS(G))   &kp MINUS &kp EQUAL  &kp LBKT        &kp LG(LA(L))  &kp BSLH      &kp PIPE
   &trans               &kp LG(Z)      &kp LG(X) &kp LG(C) &kp LG(V)   &kp LG(LA(B))   &kp UNDER &kp RET    &kp LBRC        &kp RBRC       &kp BSLH      &kp GRAVE
                    	     &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT
                        >;
                };

		symbols_layer {
					label = "SYMBOLS";
		// -----------------------------------------------------------------------------------------
		// |  TAB       |  !  |  @  |  {  |  }  |  |  |   |  /  |  7  |  8  |  9  |  &  |   \  |
		// |            |  #  |  $  |  (  |  )  |  `  |   |  *  |  4  |  5  |  6  |  0  |   "  |
		// | CTRL_LAYER |  %  |  ^  |  [  |  ]  |  ~  |   |  +  |  1  |  2  |  3  |  .  |      |
		//                    | GUI |     | SPC |   |     |  _  |  -  |
					bindings = <
		   &kp TAB         &kp EXCL  &kp AT    &kp LBRC &kp RBRC &kp PIPE           &kp FSLH        &kp N7   &kp N8   &kp N9 &kp AMPS &kp BSLH
		   &trans          &kp HASH  &kp DLLR  &kp LPAR &kp RPAR &kp GRAVE          &kp KP_MULTIPLY &kp N4   &kp N5   &kp N6 &kp N0   &kp DQT
		   &mo CTRL_LAYER  &kp PRCNT &kp CARET &kp LBKT &kp RBKT &kp TILDE          &kp PLUS        &kp N1   &kp N2   &kp N3 &kp DOT  &trans
				               &kp LGUI     &trans       &kp SPACE               &kp RET  &kp MINUS &kp UNDER  
					>;
				};

                ctrl_layer {
                        label = "CTRL_LAYER";
// -----------------------------------------------------------------------------------------
// |       |        |          | CTRL_E |  CTRL_R |  CMD_SHFT_T |          |     |           |            |     | GUI_ALT_P |      |
// |       | CTRL_A |          | CTRL_D |         |  CMD_SHFT_G |          |     | CTRL_DOWN |  CTRL_UP   |     |           |      |
// | CTRL  |        | CTRL_X   | CTRL_C |  GUI_V  |             |          |     |           |            |     |           |      |
//                      |     |      |      |               |     |      |     |
                        bindings = <
   &trans     &trans                &trans     &kp LC(E)  &kp LC(R)  &kp LG(LS(T))          &trans          &trans       &trans     &trans &kp LG(LA(P)) &trans
   &trans     &kp LC(A)             &trans     &trans     &kp LC(D)  &trans                 &kp LG(LS(G))   &kp LC(DOWN) &kp LC(UP) &trans &trans        &trans
   &kp LCTRL  &kp LG(LC(LS(N4)))    &kp LC(X)  &kp LC(C)  &kp LC(V)  &trans                 &trans          &trans       &trans     &trans &trans        &trans
                    	     &trans &trans   &trans               &trans   &trans    &trans
                        >;
                };

                ctrl_shft_layer {
                        label = "CTRL_SHFT_LAYER";
// -----------------------------------------------------------------------------------------
// |                 | MUTE        | VOL_DOWN | VOL_UP      |  CTRL_SHFT_R |  CTRL_SHFT_T |          |       |       |       |     | GUI_ALT_P |      |
// | CTRL_SHFT_LAYER | CTRL_SHFT_A |          |             |              |  CTRL_SHFT_G |          |       |       |       |     |           |      |
// | CTRL            |             |          | CTRL_SHFT_C |  GUI_SHFT_V  |              |          | BTCLR |  BT1  |  BT2  | BT3 | BT4       | BT5 |
//                                            |     |      |      |               |     |      |     |
                        bindings = <
   &trans                &kp C_MUTE      &kp C_VOL_DN  &kp C_VOL_UP  &kp LC(LS(R)) &kp LC(LS(T))      &trans          &trans       &trans       &trans       &kp LG(LA(P)) &trans
   &mo CTRL_SHFT_LAYER   &kp LC(LS(A))   &trans        &trans        &trans        &trans             &kp LG(LS(G))   &trans       &trans       &trans       &trans        &trans
   &kp LCTRL             &trans          &trans        &kp LC(LS(C)) &kp LC(LS(V)) &trans             &bt BT_CLR      &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3  &bt BT_SEL 4
                    	     &trans &trans   &trans               &trans   &trans    &trans
                        >;
                };
	};
};
